
@{
    ViewData["Title"] = "Home Page";
    
}


    <div>

        <form action="/home/productos" method="post">
            <div>


                <label>NroSerie</label>
                <input name="serie" />
                <br />
                <label>categoria</label>
                <input name="categoria" />
                <br />
                <label>nombre</label>
                <input name="nombre" />
                <br />
                <label>Precio</label>
                <input name="precio" />
                <br />
                <label>Proveedor</label>
                <input name="proveedor" />

            </div>
            <button>Enviar</button>
        </form>
    </div>
